<div class="barra-lateral">

<div class="perfil">
    <img src="./assets/img/doctor.png" alt="">
    <p>Administrador</p>
</div>

<div class="navegacion">
    <a routerLink="/home">
        <i class="uil uil-home"></i>
        <span>Inicio</span>
    </a>
    <a routerLink="/patient">
        <i class="uil uil-user-nurse"></i>
        <span>Pacientes</span>
    </a>
    <a routerLink="/dating">
        <i class="uil uil-calendar-alt"></i>
        <span>Agenda</span>
    </a>
    <a routerLink="/library">
        <i class="uil uil-book"></i>
        <span>Biblioteca</span>
    </a>
    <a routerLink="/users">
        <i class="uil uil-user"></i>
        <span>Usuarios</span>
    </a>
    <a routerLink="/maintenance">
        <i class="uil uil-database"></i>
        <span>Mantenimineto de Datos</span>
    </a>
    <a routerLink="/configuration">
        <i class="uil uil-setting"></i>
        <span>Configuracion</span>
    </a>
    <a routerLink="/help">
        <i class="uil uil-question"></i>
        <span>Ayuda</span>
    </a>
</div>

</div>