<br>
        <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Buscar Paciente...</label>
        </div>
        
        <table class="responsive-table">
            <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Accion Rapida</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Jesus Romero Villa</td>
                <td>4 años</td>
                <td><a href="#">Ver datos</a></td>
              </tr>
              <tr>
                <td>Juan Aurelio Diaz Flores</td>
                <td>2 años</td>
                <td><a href="#">Ver datos</a></td>
              </tr>
              <tr>
                <td>Emmanuel Chavez Jaramillo</td>
                <td>1 año</td>
                <td><a href="#">Ver datos</a></td>
              </tr>
            </tbody>
          </table>
